# OSX 
# 
.DS_Store 
 
# node.js 
# 
node_modules/ 
npm-debug.log 
yarn-error.log
 \ No newline at end of file 
7 file changes in working directory
View changes
commit:e522eb
startup client

# build
build/
dist/
dist/**/*
**/generated/*